@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
:root {
  background-color:#fff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing:border-box;
  font-size: small;
}

/****************************************************************************************************************************************/
/*********************************************************MOBILE*******************************************************************************/
/****************************************************************************************************************************************/
@media screen and (min-width:320px) and (max-width:767px){
.sections-container{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  width: 100%;
  max-height:100%;
  background-color: white;
  justify-content:space-around;
  text-align: center;
  align-items: center;
  padding: 0px;
  gap: 5px;
  /* border: 2px solid green; */
}
.sections-container > .section-bajoHeader{
  margin-top: 0px;
  /* border: 1px solid red; */
}
h1{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  margin-top: 20px;
  color: rgba(27, 159, 192, 0.795);
}
.sections-container >.section-bajoHeader > p{
  margin-top: 40px;
  width: 100%;
  font-size: 1rem;
  color: rgb(0, 153, 255);
}
strong{
  font-size: 1rem;
}
.sections-container > .select-color{
 width:100px;
 min-height:120px;
 padding:5px;
 margin-top: 20px;
 align-items: center;
 justify-content: center;
 /* border: 2px solid yellow; */
}
h5{
margin-top: 0px;
font-size: 0.8rem;
color: rgba(27, 159, 192, 0.795); 
}
#app{
  display:flex;
  width: 70%;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
  /* border: 1px solid green; */
}
#color-picker, #select-document{
  font-size:0.8rem;
  padding:10px;
  cursor:pointer;
  border-radius:10px;
  width: 20%;
  margin-top: 26px;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}
#color-picker{
  margin-top: 15px;
  margin-left:20px;
}
#select-document .select-document{
  cursor:pointer;
  /* border: 1px solid green; */
}
body{
  width:100%;
  margin: auto;
  padding:10px;
  margin-top:0px;
}
header > nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
  margin: auto;
  margin-top: 5px;
  width: 90%;
  border: 1px solid black;
}
nav .logo-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:50%;
  /* border: 1px solid yellow; */
}
nav .logo-container > h8{
display: none;
}
nav h5{
  font-size: 1rem;
  margin: auto;
  margin-left:0px;
 color: rgb(179, 172, 172);
 /* border: 1px solid red; */
}
nav .logo-container .img-container{
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  /* border: 1px solid blue; */
}
nav .logo-container .img-container img{
  width: 100%;
  height: 100%;
  border-radius:0px;
}
header nav ul{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 10px;
 justify-content: space-between;
 align-items: center;
 text-align: center;
 margin: auto;
}
header nav ul li{
  border: 2px solid black;
  padding:2% ;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
/*Texto y H1 sobre el HEADER*/
.section-bajoHeader{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  text-align: center;
  justify-content: center;
  padding: 5px;
}
/*MAIN*/
main{
  margin: auto;
  margin-top: 5px;
  width: 90%;
  padding: 5px;
  border: 1px solid black;
}
h2{
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  color: rgb(179, 172, 172);
  /* border: 1px solid violet;*/
} 
#texto{
  display: flex;
  flex-direction: column;
 text-align: center;
 align-items: center;
 margin-top:40px;
 width:20%;
 gap: 5px;
 /* border: 1px solid red; */
}
/* #texto > h3{
  color: black;
} */
.newColor{
  margin: auto;
  width:70px;
  border-radius:5px;
  padding:10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
}
/*txtos*/
p.texto1, p.texto2, p.texto3{
  width:90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
}
.text-area{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5px;
}
.miTexto{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1rem;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 70px;
  padding: 10px;
}
/*FOOTER*/

.footer-box{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  margin-top: 5px;
  width: 90%;
  border: 1px solid black;
}
.footer-box > h4{
  font-size: 1.2rem;
  color: rgb(179, 172, 172);
}
/*footer*/
footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top:40px;
  padding:15px;
  padding-top: 0;
  /* border: 1px solid red; */
}

footer  a {
  text-align: center;
  justify-content: center;
  margin: auto;
  /* border: 1px solid blue; */
}
footer  a p{
  margin: auto;
  display: flex;
  font-size: 0.9rem;
  color: black;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
}
  
/****************************************************************************************************************************************/
/*********************************************************DESKTOP*******************************************************************************/
/****************************************************************************************************************************************/
@media screen and (min-width:768px) and (max-width:1500px){
.sections-container{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  width: 100%;
  max-height:100%;
  background-color: white;
  justify-content:space-around;
  text-align: center;
  align-items: center;
  padding: 15px;
  gap: 5px;
  /* border: 2px solid green; */
}

h1{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9rem;
  margin-top: 20px;
  color: rgba(27, 159, 192, 0.795);
}
.sections-container >.section-bajoHeader > p{
  margin-top: 40px;
  width: 90%;
  font-size: 1.4rem;
  color: rgb(0, 153, 255);
}
strong{
  font-size: 1.4rem;
}
.sections-container > .select-color{
 width:30%;
 padding:5px;
 margin-top: 20px;
 align-items: center;
 justify-content: center;
 /* border: 2px solid yellow; */
}
h5{
margin-top: 10px;
font-size: 1.2rem;
color: rgba(27, 159, 192, 0.795); 
}
#app{
  display:flex;
  width: 70%;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction:row;
  margin: auto;
  justify-content: center;
  /* border: 1px solid green; */
}
#color-picker, #select-document{
  font-size:0.8rem;
  padding:5px;
  cursor:pointer;
  border-radius:7px;
  width: 70%;
  margin-top: 10px;
  border: 1px solid gray;
  /* border: 1px solid red; */
}
#select-document .select-document{
  cursor:pointer;
  /* border: 1px solid black; */
}
body{
  width:100%;
  margin: auto;
  padding:10px;
  margin-top:0px;
}
.color-flipper{
  border: 1px solid blue;
}
header > nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px;
  margin: auto;
  margin-top: 5px;
  width: 90%;
  border: 1px solid black;
}
nav .logo-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:10%;
  
}
nav h5{
  font-size: 1.2rem;
  margin: auto;
  margin-left: 410px;
 color: rgb(179, 172, 172);
 /* border: 1px solid red; */
}
nav .logo-container .img-container{
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  /* border: 1px solid blue; */
}
nav .logo-container .img-container img{
  width: 100%;
  height: 100%;
  border-radius:0px;
}
header nav ul{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 10px;
 justify-content: space-between;
 align-items: center;
 text-align: center;
 margin: auto;
}
header nav ul li{
  border: 2px solid black;
  padding:1% ;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
/*Texto y H1 sobre el HEADER*/
.section-bajoHeader{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  text-align: center;
  justify-content: center;
  padding: 5px;
}
/*MAIN*/
main{
  margin: auto;
  margin-top: 5px;
  width: 90%;
  padding: 5px;
  border: 1px solid black;
}
h2{
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  color: rgb(179, 172, 172);
  /* border: 1px solid violet;*/
} 
#texto{
  display: flex;
  flex-direction: column;
 text-align: center;
 align-items: center;
 margin-top:40px;
 width:20%;
 gap: 5px;
 /* border: 1px solid red; */
}
/* #texto > h3{
  color: black;
} */
.newColor{
  margin: auto;
  width:70px;
  border-radius:5px;
  padding:10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border:1px solid black;
}
/*txtos*/
p.texto1, p.texto2, p.texto3{
  width:80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
}
.text-area{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5px;
}
.miTexto{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1rem;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 120px;
  padding: 10px;
}
/*FOOTER*/

.footer-box{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  margin-top: 5px;
  width: 90%;
  border: 1px solid black;
}
.footer-box > h4{
  font-size: 1.2rem;
  color: rgb(179, 172, 172);
}
/*footer*/
footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top:40px;
  padding:15px;
  padding-top: 0;
  /* border: 1px solid red; */
}

footer  a {
  width:50%;
  text-align: center;
  justify-content: center;
  margin: auto;
  /* border: 1px solid blue; */
}
footer  a p{
  margin: auto;
  display: flex;
  font-size: 1rem;
  color: black;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}
}